@import url(./root.css);

* {
    /* list-style-type: none !important; */
    text-decoration: none !important;
    box-sizing: border-box !important;
    padding: 0;
    margin: 0;
}

.custom_scroll::-webkit-scrollbar {
    display: none;
}

.welcomeleft {
    top: 0;
    left: 0;

}

.welcomleftelps {
    top: 0;
    left: 0;
    border-radius: 334px;
    background: #781D00;
    filter: blur(250px);
    width: 334px;
    height: 334px;

}

.welcomeright {
    right: 0;
    bottom: 0;

}

.welcomerightelpse {
    right: 0;
    bottom: 0;
    border-radius: 334px;
    background: #781D00;
    filter: blur(250px);
    width: 334px;
    height: 334px;
}

.roadleftimg {
    top: 35%;
    left: 0;

}

.roadleft {
    top: 35%;
    left: 0;
    border-radius: 334px;
    background: #781D00;
    filter: blur(250px);
    width: 334px;
    height: 334px;

}

.roadelpsimg {
    right: 0;
    bottom: -15%;
}

.roadelps {
    right: 0;
    bottom: -15%;
    border-radius: 334px;
    background: #781D00;
    filter: blur(250px);
    width: 334px;
    height: 334px;
}

.rartyleftimg {
    top: 25%;
    left: 0;

}

.rartyleft {
    top: 25%;
    left: 0;
    border-radius: 334px;
    background: #781D00;
    filter: blur(250px);
    width: 334px;
    height: 334px;

}

.rartyrightimg {
    right: 0;
    bottom: -15%;
}

.rartyright {
    right: 0;
    bottom: -15%;
    border-radius: 334px;
    background: #781D00;
    filter: blur(250px);
    width: 334px;
    height: 334px;
}

.synleftimg {
    top: 5%;
    left: 0;

}

.synleft {
    top: 25%;
    left: 0;
    border-radius: 334px;
    background: #781D00;
    filter: blur(250px);
    width: 334px;
    height: 334px;
}

.synrightimg {
    right: 0;
    bottom: -15%;
}

.synright {
    right: 0;
    bottom: -15%;
    border-radius: 334px;
    background: #781D00;
    filter: blur(250px);
    width: 334px;
    height: 334px;
}

.ftrimg {
    bottom: -12%;
    left: 0;
}

.ftr {
    bottom: -12%;
    left: 0;
    border-radius: 334px;
    background: #781D00;
    filter: blur(250px);
    width: 334px;
    height: 334px;
}

.btn_buy {
    border-radius: 100px;
    background: linear-gradient(180deg, #FED710 0%, #FF5001 100%), #FFAE01;
    padding: 14px 20px;
    border: none;
}

.txt_captalize {
    text-transform: capitalize;
}

.color_phase {
    background: linear-gradient(180deg, #FED710 -100%, #FF5001 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.line_height {
    line-height: 174%;
}
.bgteamimg {
    background-image: url(../image/bgteamimg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-team:hover {
    box-shadow: 0px 4px 41px 0px rgba(254, 215, 16, 0.50);
    border-radius: 17.393px;
}

.card-text-team {
    position: absolute;
    left: 29%;
    bottom: 5%;
    z-index: 1;
}
.menu-box{
    cursor: pointer;
}
.whitsps {
    white-space: nowrap;
}

.teamimg1 {
    border-radius: 17.393px;
    border: 1.263px solid #FF5001;
}

.bgsyngame {
    background-image: url(../image/bgsyndictgame.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bgsyn {
    padding: 34px 37px;
    border-radius: 17.34px;
    border: 1.259px solid #FF5001;
    backdrop-filter: blur(31.478700637817383px);
    background: linear-gradient(124deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.03) 101.73%);
}

.bgsyn::after {
    content: "";
    position: absolute;
    border-radius: 17.393px;
    padding: 1.263px;
    background: linear-gradient(#ff5001 6%, #fed710 108%);
    inset: 0;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    pointer-events: none;
}

.teamimg1::after {
    content: "";
    position: absolute;
    border-radius: 17.393px;
    padding: 1.263px;
    background: linear-gradient(#ff5001 6%, #fed710 108%);
    inset: 0;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    pointer-events: none;
}

.bgsyn:hover {
    backdrop-filter: blur(31.478700637817383px);
}

.videoicon {
    position: absolute;
    bottom: -18%;
    left: -25%;
    max-width: 140px;
    z-index: 4;
}

.line_higt {
    line-height: 174%;
}

.color_grd {
    background: linear-gradient(180deg, #FED710 54.08%, #FF5001 26.04%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-royalty {
    background-image: url(../image/bg-royalty.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-royalty {
    border-radius: 14.992px;
    background: linear-gradient(124deg, rgba(255, 255, 255, 0.10) 10%, rgba(255, 255, 255, 0.03) 90%);
    backdrop-filter: blur(27.21642303466797px);

}

.card-royalty::after {
    content: "";
    position: absolute;
    border-radius: 17.393px;
    padding: 1.263px;
    background: linear-gradient(#ff5001 6%, #fed710 108%);
    inset: 0;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    pointer-events: none;
}

.color-stashed {
    background: linear-gradient(180deg, #FED710 -100%, #FF5001 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.royalty1img {
    left: -15%;
    bottom: -15%;
}

.royalty5img {
    right: -15%;
    bottom: -15%;
}

.pdingleft {
    padding-left: 22px !important;
}

@media (min-width:320px) {
    .royalty1img {
        max-width: 294px;
        width: 35%;
        left: -15%;
        bottom: -5%;
    }

    .videoicon {
        position: absolute;

        bottom: -38%;
        left: -28%;
        max-width: 140px;
        z-index: 4;

    }

    .royalty5img {
        max-width: 356px;
        width: 35%;
        right: -15%;
        bottom: -5%;
    }

    .royalty1 {
        min-width: 60px;
    }

    .royalty2 {
        min-width: 50px;
    }

    .royalty3 {
        min-width: 50px;
    }
}

@media (min-width:576px) {
    .royalty1img {
        max-width: 294px;
        width: 35%;
        left: -15%;
        bottom: -10%;
    }

    .videoicon {
        position: absolute;
        bottom: -18%;
        left: -25%;
        max-width: 140px;
        z-index: 4;

    }

    .royalty5img {
        max-width: 356px;
        width: 35%;
        right: -15%;
        bottom: -10%;
    }
}

@media (min-width:768px) {}

@media (min-width:992px) {
    .m-top {
        margin-top: -24px !important;
    }

    .royalty1img {
        max-width: 294px;
        width: 35%;
        left: -15%;
        bottom: -12%;
    }

    .royalty5img {
        max-width: 356px;
        width: 35%;
        right: -15%;
        bottom: -12%;
    }
}

@media (min-width:1200px) {
    .whitsps-syn {
        white-space: nowrap;
    }

    .whitcont {
        white-space: nowrap;
    }

    .royalty1img {
        max-width: 294px;
        width: 100%;
        left: -15%;
        bottom: -15%;
    }

    .royalty5img {
        max-width: 356px;
        width: 100%;
        right: -15%;
        bottom: -15%;
    }
}


* {
    margin: 0;
    padding: 0;
    /* list-style-type: none; */
    text-decoration: none !important;
    box-sizing: border-box;
}

.header-bg {
    background-image: url('../image/hero-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.my-nav-butn {
    padding: 14px 20px;
    border-radius: 50px;
    border: none;
    border-radius: 100px;
    background: linear-gradient(180deg, #FED710 0%, #FF5001 95%), #FFAE01;
    box-shadow: 0px 2px 8px #FF5001;
}

#navbar {
    list-style-type: none;
}

.gap-35 {
    gap: 35px;
}

.gap-75 {
    gap: 75px;
}

.line1,
.line2,
.line3 {
    width: 35px;
    height: 3px;
    margin-bottom: 7px;
    display: flex;
    background-color: white;
}

.line-height-143 {
    line-height: 143.765%;

}

.syndicate-1 {
    bottom: 0;
    left: 8%;
}

.syndicate-2 {
    left: 28%;
    bottom: 0;
}

.syndicate-3 {
    right: 32%;
    bottom: 0;
}

.syndicate-4 {
    right: 8%;
    bottom: 0;
}

.w_21vw {
    width: 21vw;
}

.w_27vw {
    width: 27vw;
}

.nav-img-rad {
    border-radius: 17.34px;
}

.buy-butn {
    background: linear-gradient(180deg, #FED710 0%, #FF5001 100%), #FFAE01;
    border-radius: 35px;
    border: none;
    padding: 12px 32px;
}

.amount {
    background: linear-gradient(180deg, #FED710 0%, #FF5001 50%), #FFAE01;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.my-nav-button {
    padding: 12px 25px;
    font-weight: 400;
    font-size: var(--fs-md);
    text-transform: capitalize;
    border-radius: 35px;
    background-color: #121212;
    border: none;
    color: white;
    font-family: var(--ff-primary);
}

.my-nav-button:hover {
    background: linear-gradient(180deg, #FED710 0%, #FF5001 100%), #FFAE01;
}

.my-nav-button:active {
    background: linear-gradient(180deg, #FED710 0%, #FF5001 100%), #FFAE01;
}

.gap-28 {
    gap: 28px;
}

.explore-butn {
    padding: 12px 25px;
    border: none;
    border-radius: 35px;
    background: linear-gradient(180deg, #FED710 0%, #FF5001 100%), #FFAE01;
}

.phase-heading {
    background: linear-gradient(180deg, #FED710 0%, #FF5001 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.line-height-174 {
    line-height: 174%;
}

.my-card {
    border-radius: 20px;
    background: linear-gradient(124deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.03) 101.73%);
    backdrop-filter: blur(31.478700637817383px);
    box-shadow: 0px 0px 8px #FFAE01;
    position: relative;
    padding: 5px;
}

.my-card::after {
    content: "";
    position: absolute;
    border-radius: 20px;
    padding: 2px;
    background: linear-gradient(180deg, #FED710 0%, #FF5001 80%);
    inset: 0;
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    pointer-events: none;
}

.footer-left-nft {
    bottom: 0;
    left: 0;
    width: 16vw;

}

.footer-right-nft {
    bottom: 0;
    right: 0;
    width: 16vw;
}

.footer-line {
    height: 2px;
    width: 100%;
    background-color: white;
    opacity: 0.1;
    margin-top: 48px;
}

.copyright {
    opacity: 0.7;
    color: white;
}

.footer-icon:hover {
    box-shadow: 1px 1px 10px gold;
    border-radius: 50px;
}

.underline:after {
    content: "";
    width: 0;
    right: 0;
    height: 3px;
    background: #FDB20B;
    position: absolute;
    bottom: -5%;
    transition: all 300ms linear;
}

.underline:hover::after {
    width: 100%;
    left: 0;
}

p {
    margin-bottom: 0;
}

/* bottom-to-top */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: transparent;
}

/* preloader */
#preloader-box {
    min-height: 100vh;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    background-color: #000;
    position: fixed;
    z-index: 700 !important;
}

.loder-img {
    animation: spin 4s linear infinite;
}

.rotate {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@media (max-width:575.98px) {

    header {
        height: 500px !important;
    }

    .pt-106 {
        padding-top: 60px;
    }
}

@media (min-width:575.98px) and (max-width:767.98px) {
    header {
        height: 600px !important;
    }
}

@media (min-width:767.98px) and (max-width:991.98px) {
    header {
        height: 600px !important;
    }
}

@media (min-width:991.98px) and (max-width:1199.98px) {
    header {
        height: 750px;
    }
}
@media (min-width:1199.98px) {
    .min-vh_100 {
        min-height: 100vh !important;
    }

    .pt-106 {
        padding-top: 70px !important;
    }
}

@media (max-width:1399.98px) {

    .navbar ul {
        flex-direction: column;
        background-color: black;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        left: -100%;
        top: 0;
        align-items: center;
        justify-content: center;
        transition: all 500ms linear;
    }

    .pt_4 {
        padding-top: 24px;
    }

}

@media (min-width:1399.98px) {
    .pt-106 {
        padding-top: 106px !important;
    }

    .gap-xxl-35{
        gap: 35px !important;
    }

}